/* homepage style */
/* home hero */
#block-views-block-frontpage-home-hero .view-footer {
  position: inherit;
  bottom: 155px;
  z-index: 99; }
#block-views-block-frontpage-home-hero #mc_embed_signup {
  background: none !important;
  clear: left;
  font: 14px Helvetica,Arial,sans-serif;
  width: 100%; }
#block-views-block-frontpage-home-hero #mc_embed_signup .button {
  background-color: rgba(158, 158, 158, 0) !important;
  border: 1px solid #2196F3 !important; }
  #block-views-block-frontpage-home-hero #mc_embed_signup .button:hover {
    background-color: #2196F3 !important; }

.article-window-header {
  max-height: 450px;
  min-height: 380px;
  display: block;
  position: relative;
  overflow: hidden !important;
  background: #000000; }
  .article-window-header img {
    width: 100%;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    filter: url(blur.svg#blur);
    -webkit-filter: blur(3px);
    filter: blur(3px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='3'); }
  .article-window-header .container-overlay {
    top: 0px;
    height: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    -moz-opacity: 0.6;
    opacity: 0.7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -khtml-opacity: 1;
    -moz-opacity: 1;
    width: 100%;
    position: absolute;
    z-index: 98;
    background: #000;
    transition: all .2s linear;
    -o-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
    background: -webkit-linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
    background: -moz-linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
    background: -o-linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
    background: -ms-linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent); }

.article-window-header-text {
  opacity: 1;
  margin-top: 75px;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  color: white;
  z-index: 99;
  width: 100%;
  text-align: center;
  display: block;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4); }
  .article-window-header-text h1 {
    font-size: 80px;
    font-weight: bold;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4); }
  .article-window-header-text h3 {
    font-size: 30px;
    line-height: 34px;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4); }

/* flip preivew cards */
.container-effect {
  perspective: 1000; }

.container-effect {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 3px;
  z-index: 1; }
  .container-effect .preview-card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 1.0s linear; }
    .container-effect .preview-card:hover {
      transform: rotateY(180deg); }
  .container-effect .preview-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; }
  .container-effect .flat-overlay {
    position: absolute;
    background: rgba(6, 6, 6, 0.4);
    top: 0px;
    height: 100%;
    width: 100%;
    border-radius: 3px;
    overflow: hidden; }
  .container-effect .flat-overlay-2 {
    position: absolute;
    background: rgba(255, 255, 255, 0.85);
    top: 0px;
    height: 100%;
    width: 100%;
    border-radius: 3px;
    overflow: hidden; }
  .container-effect .preview-front {
    border-radius: 3px;
    overflow: hidden; }
    .container-effect .preview-front .front-text {
      position: absolute;
      bottom: 45%;
      right: 0;
      left: 0;
      backface-visibility: hidden; }
      .container-effect .preview-front .front-text h3 {
        color: #fff;
        margin: 10px;
        text-align: center;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5); }
  .container-effect .preview-back {
    border-radius: 3px;
    overflow: hidden;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.05); }
    .container-effect .preview-back .text-back {
      position: absolute;
      padding: 10px;
      top: 20px;
      right: 0;
      left: 0;
      backface-visibility: hidden; }
      .container-effect .preview-back .text-back:hover {
        text-decoration: underline; }
      .container-effect .preview-back .text-back p {
        font-size: 16px;
        text-align: center;
        color: #000; }
      .container-effect .preview-back .text-back .priview-click {
        font-family: Impact, Charcoal, sans-serif; }
  .container-effect .preview-face.preview-back {
    display: block;
    transform: rotateY(180deg);
    box-sizing: border-box; }

/*navbar and footer */
/* navbar */
.navbar-default {
  background-color: rgba(248, 248, 248, 0) !important;
  border-color: none !important; }

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 15px;
  border: none; }
  @media (min-width: 768px) {
    .navbar {
      border-radius: none !important; } }

.navbar-header {
  width: 100%; }

.navbar-nav {
  float: right;
  margin: 0; }

/* general changes */
/* article bottom spacing */
article {
  margin-bottom: 20px; }
